<div class='container center-align'>
    <h1>Workout Planner!</h1>
    <a class="waves-effect waves-light btn-large modal-trigger" id="create-workout">Create Workout Plan</a>
    <a class="waves-effect waves-light btn-large" id="view-workout" href="/workout">View Workout Plan</a>
</div>

<div id="workoutModal" class="modal">
    <div class="modal-content center-align">
        <h4>Add A Workout!</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="excercise-day" class="materialize-textarea"></textarea>
                        <label for="textarea1">
                            Insert Day
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="excercise-type" class="materialize-textarea"></textarea>
                        <label for="textarea1">
                            Excercise Type
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="excercise-name" class="materialize-textarea"></textarea>
                        <label for="textarea1">
                            Excercise Name
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="excercise-weight" class="materialize-textarea"></textarea>
                        <label for="textarea1">
                            Number of Weight
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="excercise-reps" class="materialize-textarea"></textarea>
                        <label for="textarea1">
                            Number of Reps
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="excercise-sets" class="materialize-textarea"></textarea>
                        <label for="textarea1">
                            Number of Sets
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="excercise-distance" class="materialize-textarea"></textarea>
                        <label for="textarea1">
                            Distance
                        </label>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <div class="modal-footer">
        <a id="add-workout" class="modal-close waves-effect waves-green btn-flat">Add</a>
    </div>
</div>